#itemsColumn {
	background-color: pink;
}

#orderHistory {
	background-color: pink;
}

.error {
	background-color: pink;
}

.home {
	background-color: #8be8ab;
}

.login {
	background-color: pink;
}

.userPage {
	background-color: pink;
}

.orderAdminPage {
	background-color: pink;
}

.navbar {
	background-color: #960307;
}

.footer {
	background-color: #960307;
}